@charset "UTF-8";

h1 {
	color:burlywood; font-size:60px; font-family:Gabriola;
}

.header-wrap {
	display: flex;
	height: 150px;
	justify-content: center; 
}

body {
	height: 100%;
}

.wrap {
	height: 600px;
	display: flex;
	justify-content: center;
	flex-flow: column;
}
.wrap>* {
	align-self: center;
}

.footer-wrap {
	display: flex;
	height: 100px;
	justify-content: center;			
}